
:root {
  --main-border-color: #524e4e;
}

body {  
  display: grid;
  grid-template-columns: 0.5fr 1.5fr;
  grid-template-rows: 0.4fr 2.5fr 0.1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    "header header"
    "sidebar current-page"
    "footer footer";
  background-color: black;
  color: white;
  height: 100vh;
}

.header { 
  grid-area: header; 
  border: 2px solid var(--main-border-color);
  border-bottom: 0;
}

.current-page {  
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 0.3fr 1.7fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    "display-header"
    "display";
  grid-area: current-page;
  border: 2px solid var(--main-border-color);
}

.options-container {
  display: flex;
  margin: 25px;
}

.display-header { 
  grid-area: display-header; 
  text-align: center;

}

.display { 
  grid-area: display; 
}

.task-item {
  list-style: none;
  width: fit-content;
  cursor: pointer;
}

.sidebar { 
  grid-area: sidebar; 
  border: 2px solid var(--main-border-color);
  border-right: 0;
  display: flex;
  flex-direction: column;
  overflow: auto;
  word-wrap: break-word;
  justify-content: space-evenly;
  font-size: 1.2rem;
}

.new-project-input-container {
  margin-left: 20px;
}

.project-list {
  cursor: pointer;
  word-wrap: break-word;
}

.project-container{
  display: flex;
  justify-content: space-between;
  margin-right: 10px;

}

button {
  cursor: pointer;
  font-weight: 900;
}

.btn-delete-project {
  color: red;
}

.btn-new-project {
  font-size: 25px;
  color: green;
  align-self: center;
}

/* .btn-task {
  position: absolute;
  right: 4%;
  bottom: 10%;
} */



h1 {
  text-align: center;
}

.footer { 
  grid-area: footer; 
  border: 2px solid var(--main-border-color);
  border-top: 0;
  display: flex;
  align-items: center;
  justify-content: center

}

.form-container{
  position: absolute;
  z-index: 100;
  margin-top: 20%;
  justify-self: center;
  width: 40vw;
  min-width: 200px;
  background-color: white;
  color: black;
  border-radius: 25px;
}

.form {
  border: 1px solid red;
  
}

